body {
    background-color: #f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

/* Logo Box */
.logo-box {
    width: 32px;
    height: 32px;
    background-color: #1e3a8a;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

/* Avatar */
.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #1e3a8a;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Fee Box */
.fee-box {
    background-color: #eef2ff;
    border-radius: 10px;
}

.fee-icon {
    font-size: 40px;
    color: #1e3a8a;
}

/* Receipt Card */
.receipt-card {
    border-radius: 12px;
}

.receipt-logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* QR Box */
.qr-box {
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
}